{{- if (not .Values.userconfig) }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: user-config
  namespace: {{ include "jaeger.namespace" . }}
  labels:
    {{- include "jaeger.labels" . | nindent 4 }}
data:
  user-config.yaml: |
{{ toYaml .Values.config | indent 4 }}
{{- end }}
