{{- if (and (not .Values.userconfig) (or .Values.provisionDataStore.elasticsearch .Values.provisionDataStore.cassandra (eq .Values.storage.type "elasticsearch") (eq .Values.storage.type "cassandra"))) }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: user-config
  namespace: {{ include "jaeger.namespace" . }}
  labels:
    {{- include "jaeger.labels" . | nindent 4 }}
data:
  user-config.yaml: |
    service:
      extensions: {{ include "jaeger.serviceExtensions" . }}
      pipelines:
        traces:
          receivers: {{ include "jaeger.serviceReceivers" . }}
          processors: {{ include "jaeger.serviceProcessors" . }}
          exporters: {{ include "jaeger.serviceExporters" . }}

    extensions:
{{ include "jaeger.extensionsConfig" . }}

    receivers:
{{ include "jaeger.receiversConfig" . }}

    processors:
{{ include "jaeger.processorsConfig" . }}

    exporters:
{{ include "jaeger.exportersConfig" . }}
{{- end }}
