{{- if (and (not .Values.userconfig) (or .Values.provisionDataStore.elasticsearch .Values.provisionDataStore.cassandra (eq .Values.storage.type "elasticsearch"))) }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: user-config
  namespace: {{ include "jaeger.namespace" . }}
  labels:
    {{- include "jaeger.labels" . | nindent 4 }}
data:
  user-config.yaml: |
    service:
      extensions: [jaeger_storage, jaeger_query, healthcheckv2]
      pipelines:
        traces:
          receivers: [otlp, jaeger, zipkin]
          processors: [batch]
          exporters: [jaeger_storage_exporter]

    extensions:
      healthcheckv2:
        use_v2: true
        http:
            endpoint: 0.0.0.0:13133

      jaeger_query:
        storage:
          traces: primary_store
          traces_archive: archive_store

      jaeger_storage:
        backends:
          primary_store:
            {{- if or .Values.provisionDataStore.elasticsearch (eq .Values.storage.type "elasticsearch") }}
            # Automatic ES config generation removed. Use userconfig or extraEnv.
            {{- else if or .Values.provisionDataStore.cassandra (eq .Values.storage.type "cassandra") }}
            cassandra:
              connection:
                servers: 
                  - jaeger-cassandra-0.jaeger-cassandra.{{ include "jaeger.namespace" . }}.svc.cluster.local
                port: {{ .Values.storage.cassandra.port }}
                {{- if .Values.storage.cassandra.username }}
                auth:
                  basic:
                    username: {{ .Values.storage.cassandra.username }}
                    password: {{ .Values.storage.cassandra.password }}
                {{- end }}
                tls:
                  insecure: true
              schema:
                keyspace: {{ .Values.storage.cassandra.keyspace }}
                replication_factor: 1
            {{- end }}
          archive_store:
            {{- if or .Values.provisionDataStore.elasticsearch (eq .Values.storage.type "elasticsearch") }}
            # Automatic ES config generation removed. Use userconfig or extraEnv.
            {{- else }}
            memory:
              max_traces: 100000
            {{- end }}

    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:4317
          http: 
            endpoint: 0.0.0.0:4318
      jaeger:
        protocols:
          grpc:
            endpoint: 0.0.0.0:14250
          thrift_http:
            endpoint: 0.0.0.0:14268
          thrift_compact:
            endpoint: 0.0.0.0:6831
          thrift_binary:
            endpoint: 0.0.0.0:6832
      zipkin:
        endpoint: 0.0.0.0:9411

    processors:
      batch:

    exporters:
      jaeger_storage_exporter:
        trace_storage: primary_store
{{- end }}
