{{- if (and (not .Values.userconfig) (or .Values.provisionDataStore.elasticsearch .Values.provisionDataStore.cassandra (eq .Values.storage.type "elasticsearch"))) }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: user-config
  namespace: {{ include "jaeger.namespace" . }}
  labels:
    {{- include "jaeger.labels" . | nindent 4 }}
data:
  user-config.yaml: |
    service:
      extensions: [jaeger_storage, jaeger_query, healthcheckv2]
      pipelines:
        traces:
          receivers: [otlp, jaeger, zipkin]
          processors: [batch]
          exporters: [jaeger_storage_exporter]

    extensions:
      healthcheckv2:
        use_v2: true
        http:
            endpoint: 0.0.0.0:13133

      jaeger_query:
        storage:
          traces: primary_store
          traces_archive: archive_store

      jaeger_storage:
        backends:
          primary_store:
            {{- if or .Values.provisionDataStore.elasticsearch (eq .Values.storage.type "elasticsearch") }}
            elasticsearch:
              server_urls: ["{{ include "elasticsearch.client.url" . }}"]
              indices:
                index_prefix: {{ .Values.config.extensions.jaeger_storage.backends.primary_store.elasticsearch.index_prefix | quote }}
              {{- if .Values.config.extensions.jaeger_storage.backends.primary_store.elasticsearch.username }}
              auth:
                basic:
                  username: {{ .Values.config.extensions.jaeger_storage.backends.primary_store.elasticsearch.username | quote }}
                  {{- if .Values.config.extensions.jaeger_storage.backends.primary_store.elasticsearch.password }}
                  password: {{ .Values.config.extensions.jaeger_storage.backends.primary_store.elasticsearch.password | quote }}
                  {{- end }}
              {{- end }}
              tls:
                insecure: {{ .Values.storage.elasticsearch.tls.insecure | default false }}
                {{- if .Values.storage.elasticsearch.tls.ca }}
                ca_file: {{ .Values.storage.elasticsearch.tls.ca }}
                {{- end }}
            {{- else if or .Values.provisionDataStore.cassandra (eq .Values.storage.type "cassandra") }}
            cassandra:
              connection:
                servers: 
                  - jaeger-cassandra-0.jaeger-cassandra.{{ include "jaeger.namespace" . }}.svc.cluster.local
                port: {{ .Values.storage.cassandra.port }}
                {{- if .Values.storage.cassandra.username }}
                auth:
                  basic:
                    username: {{ .Values.storage.cassandra.username }}
                    password: {{ .Values.storage.cassandra.password }}
                {{- end }}
                tls:
                  insecure: true
              schema:
                keyspace: {{ .Values.storage.cassandra.keyspace }}
                replication_factor: 1
            {{- end }}
          archive_store:
            {{- if or .Values.provisionDataStore.elasticsearch (eq .Values.storage.type "elasticsearch") }}
            elasticsearch:
              server_urls: ["{{ include "elasticsearch.client.url" . }}"]
              indices:
                index_prefix: {{ .Values.config.extensions.jaeger_storage.backends.archive_store.elasticsearch.index_prefix | quote }}
              {{- if .Values.config.extensions.jaeger_storage.backends.archive_store.elasticsearch.username }}
              auth:
                basic:
                  username: {{ .Values.config.extensions.jaeger_storage.backends.archive_store.elasticsearch.username | quote }}
                  {{- if .Values.config.extensions.jaeger_storage.backends.archive_store.elasticsearch.password }}
                  password: {{ .Values.config.extensions.jaeger_storage.backends.archive_store.elasticsearch.password | quote }}
                  {{- end }}
              {{- end }}
              tls:
                insecure: {{ .Values.storage.elasticsearch.tls.insecure | default false }}
                {{- if .Values.storage.elasticsearch.tls.ca }}
                ca_file: {{ .Values.storage.elasticsearch.tls.ca }}
                {{- end }}
            {{- else }}
            memory:
              max_traces: 100000
            {{- end }}

    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:4317
          http: 
            endpoint: 0.0.0.0:4318
      jaeger:
        protocols:
          grpc:
            endpoint: 0.0.0.0:14250
          thrift_http:
            endpoint: 0.0.0.0:14268
          thrift_compact:
            endpoint: 0.0.0.0:6831
          thrift_binary:
            endpoint: 0.0.0.0:6832
      zipkin:
        endpoint: 0.0.0.0:9411

    processors:
      batch:

    exporters:
      jaeger_storage_exporter:
        trace_storage: primary_store
{{- end }}
